@import "tailwindcss";

@theme {
  --color-primary: #0046FB;
  --color-secondary: #F4F4F4;
  --color-accent: #009FFF;
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white antialiased;
    color: #0F172A;
  }
}